@model WEB2.Areas.Order.Db1

@{
    ViewData["Title"] = "Dashboard1";
}

<head>
    <link rel="stylesheet" href="~/vendor/owl-carousel/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/vendor/owl-carousel/css/owl.theme.default.min.css">
    <link href="~/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            <i class="ti-money text-success border-success"></i>
                        </div>
                        <div class="stat-content d-inline-block">
                            <div class="stat-text">Doanh thu</div>
                            <div class="stat-digit">@Model.Profit</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            <i class="ti-user text-primary border-primary"></i>
                        </div>
                        <div class="stat-content d-inline-block">
                            <div class="stat-text">Khách hàng</div>
                            <div class="stat-digit">@Model.Customer</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            <i class="ti-desktop text-pink border-pink"></i>
                        </div>
                        <div class="stat-content d-inline-block">
                            <div class="stat-text">Sản phẩm</div>
                            <div class="stat-digit">@Model.Product</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="card">
                    <div class="stat-widget-one card-body">
                        <div class="stat-icon d-inline-block">
                            <i class="ti-receipt text-danger border-danger"></i>
                        </div>
                        <div class="stat-content d-inline-block">
                            <div class="stat-text">Doanh số hôm nay</div>
                            <div class="stat-digit">@Model.Todei</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Sản phẩm bán chạy</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12 col-lg-8">
                                <div id="morris-bar-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="m-t-10">
                            <h4 class="card-title">Phản hồi của khách hàng</h4>
                            <h2 class="mt-3">@Model.totalfeed</h2>
                        </div>
                        <div class="widget-card-circle mt-5 mb-5" id="info-circle-card">
                            <i class="ti-control-shuffle pa"></i>
                        </div>
                        <ul class="widget-line-list m-b-15">
                            <li class="border-right">
                                @Model.pos_feed/@Model.totalfeed % <br><span class="text-success">
                                    <i class="ti-hand-point-up"></i> Positive
                                </span>
                            </li>
                            <li>
                                @Model.dis_feed/@Model.totalfeed % <br><span class="text-danger">
                                    <i class="ti-hand-point-down"></i>Negative
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Project</h4>
                    </div>
                    <div class="card-body">
                        <div class="current-progress">
                            <div class="progress-content py-2">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="progress-text">Thang Huu</div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="current-progressbar">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary w-90" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                                    90%
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
               <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="testimonial-widget-one p-17">
                            <div class="testimonial-widget-one owl-carousel owl-theme">
                                <div class="item">
                                    <div class="testimonial-content">
                                        <div class="testimonial-text">
                                            <i class="fa fa-quote-left"></i> App nào mà chẳng có bug, hãy cho một ngày đầu năm yên bình!
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                        <div class="media">
                                            <div class="media-body">
                                                <div class="testimonial-author">Thang Huu</div>
                                                <div class="testimonial-author-position">
                                                    Founder-Ceo. Dell Corp
                                                </div>
                                            </div>
                                            <img class="testimonial-author-img ml-3" src="~/images/avatar/1.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-content">
                                        <div class="testimonial-text">
                                            <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                            consectetur adipisicing elit.
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                        <div class="media">
                                            <div class="media-body">
                                                <div class="testimonial-author">NgocThien</div>
                                                <div class="testimonial-author-position">
                                                        Founder-Ceo. Dell Corp
                                                </div>
                                            </div>
                                            <img class="testimonial-author-img ml-3" src="~/images/avatar/2.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimonial-content">
                                        <div class="testimonial-text">
                                            <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                            consectetur adipisicing elit.
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                        <div class="media">
                                            <div class="media-body">
                                                <div class="testimonial-author">DinhTrai</div>
                                                <div class="testimonial-author-position">
                                                    Founder-Ceo. Dell Corp
                                                </div>
                                            </div>
                                            <img class="testimonial-author-img ml-3" src="~/images/avatar/3.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                                    <div class="item">
                                    <div class="testimonial-content">
                                        <div class="testimonial-text">
                                            <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
                                            consectetur adipisicing elit.
                                            <i class="fa fa-quote-right"></i>
                                        </div>
                                        <div class="media">
                                            <div class="media-body">
                                                <div class="testimonial-author">CongThanh</div>
                                                <div class="testimonial-author-position">
                                                    Founder-Ceo. Dell Corp
                                                </div>
                                            </div>
                                            <img class="testimonial-author-img ml-3" src="~/images/avatar/4.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Web Server</h4>
                    </div>
                    <div class="card-body">
                        <div class="cpu-load-chart">
                            <div id="cpu-load" class="cpu-load"></div>
                        </div>
                    </div>
                </div>
                <!-- /# card -->
            </div>
            <div class="col-lg-6">
                  <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Số lượng hàng</h4>
                      @*  <div class="card-action">
                            <div class="dropdown custom-dropdown">
                                <div data-toggle="dropdown">
                                    <i class="ti-more-alt"></i>
                                </div>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Option 1</a>
                                    <a class="dropdown-item" href="#">Option 2</a>
                                    <a class="dropdown-item" href="#">Option 3</a>
                                </div>
                            </div>
                        </div>*@
                    </div>
                    <div class="card-body">
                        <div class="chart py-4">
                            <canvas id="sold-product"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">New Orders</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên</th>
                                        <th>Đơn hàng</th>
                                        <th>Tình trạng đơn hàng</th>
                                        <th>Thời gian</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.orderdetails) {
                                       
                                        <tr>
                                            <td>
                                                <div class="round-img">
                                                    <a href=""><img width="35" src="~/images/avatar/1.png" alt=""></a>
                                                </div>
                                            </td>
                                            <td>@Html.DisplayFor(model => item.Order.Customer.AppUser.FullName)</td>
                                            <td><span>@Html.DisplayFor(model => item.OrderId)</span></td>
                                          
                                          

                                            @{
                                                string color = "badge badge-warning";
                                            }

                                            @if (item.Order.TransactStatus.Equals("shipping")) {
                                                color = "badge badge-primary";
                                            }

                                            <td><span class="@color">@Html.DisplayFor(model => item.Order.TransactStatus)</span></td>
                                            @{
                                                color = "duyệt";
                                            }

                                            @if (item.Order.TransactStatus.Equals("shipping")) {
                                                color = "thanh toán";
                                            }
                                            <td>
                                               @* <a asp-action="Accecpt" asp-route-id="@item.OrderId">@color</a>  |

                                                @Html.ActionLink("Chi tiết", "BillDetails", "SaleManagers",  new { id = item.OrderId}, null)  |
                                                @Html.ActionLink("Hủy", "BillDel", "SaleManagers",  new { id = item.OrderId}, null)*@


                                               @Html.DisplayFor(model => item.Order.OrderDay)

                                            </td>
                                        </tr>
                                    }
                                </tbody>


                            </table>
                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            
            
          
            <div class="col-xl-12 col-xxl-6 col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-sm-6 col-xxl-6 col-md-6">
                        <div class="card">
                            <div class="social-graph-wrapper widget-facebook">
                                <span class="s-icon"><i class="fa fa-facebook"></i></span>
                            </div>
                            <div class="row">
                                <div class="col-6 border-right">
                                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                        <h4 class="m-1"><span class="counter">89</span> k</h4>
                                        <p class="m-0">Friends</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                        <h4 class="m-1"><span class="counter">119</span> k</h4>
                                        <p class="m-0">Followers</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6 col-xxl-6 col-md-6">
                        <div class="card">
                            <div class="social-graph-wrapper widget-linkedin">
                                <span class="s-icon"><i class="fa fa-linkedin"></i></span>
                            </div>
                            <div class="row">
                                <div class="col-6 border-right">
                                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                        <h4 class="m-1"><span class="counter">89</span> k</h4>
                                        <p class="m-0">Friends</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                        <h4 class="m-1"><span class="counter">119</span> k</h4>
                                        <p class="m-0">Followers</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6 col-xxl-6 col-md-6">
                        <div class="card">
                            <div class="social-graph-wrapper widget-googleplus">
                                <span class="s-icon"><i class="fa fa-google-plus"></i></span>
                            </div>
                            <div class="row">
                                <div class="col-6 border-right">
                                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                        <h4 class="m-1"><span class="counter">89</span> k</h4>
                                        <p class="m-0">Friends</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                        <h4 class="m-1"><span class="counter">119</span> k</h4>
                                        <p class="m-0">Followers</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-sm-6 col-xxl-6 col-md-6">
                        <div class="card">
                            <div class="social-graph-wrapper widget-twitter">
                                <span class="s-icon"><i class="fa fa-twitter"></i></span>
                            </div>
                            <div class="row">
                                <div class="col-6 border-right">
                                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                        <h4 class="m-1"><span class="counter">89</span> k</h4>
                                        <p class="m-0">Friends</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="pt-3 pb-3 pl-0 pr-0 text-center">
                                        <h4 class="m-1"><span class="counter">119</span> k</h4>
                                        <p class="m-0">Followers</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="~/vendor/global/global.min.js"></script>
    <script src="~/js/quixnav-init.js"></script>
    <script src="~/js/custom.min.js"></script>

    <!-- Vectormap -->
    <script src="~/vendor/raphael/raphael.min.js"></script>
    <script src="~/vendor/morris/morris.min.js"></script>

    <script src="~/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/vendor/chart.js/Chart.bundle.min.js"></script>

    <script src="~/vendor/gaugeJS/dist/gauge.min.js"></script>

    <!--  flot-chart js -->
    <script src="~/vendor/flot/jquery.flot.js"></script>
    <script src="~/vendor/flot/jquery.flot.resize.js"></script>

    <!-- Owl Carousel -->
    <script src="~/vendor/owl-carousel/js/owl.carousel.min.js"></script>

    <!-- Counter Up -->
    <script src="~/vendor/jqvmap/js/jquery.vmap.min.js"></script>
    <script src="~/vendor/jqvmap/js/jquery.vmap.usa.js"></script>
    <script src="~/vendor/jqvmap/js/jquery.vmap.world.js"></script>
    <script src="~/vendor/jquery.counterup/jquery.counterup.min.js"></script>

    <script type="text/javascript">

                (function ($) {
            "use strict";
                 var dat1 = [];
                  @foreach (var item in Model.View) {

                    <text>  dat1.push({y: "@item.ProductName",  a: "@item.Sold", b: "@item.View"});  </text>

                }
            // Morris bar chart
            Morris.Bar({
                element: 'morris-bar-chart',
                //data: [{
                //    y: 'hmm',
                //    a: 10,
                //    b: 90
                //}, {
                //    y: '2016',
                //    a: 75,
                //    b: 65
                //}, {
                //    y: '2017',
                //    a: 50,
                //    b: 40
                //}, {
                //    y: '2018',
                //    a: 75,
                //    b: 65
                //}, {
                //    y: '2019',
                //    a: 50,
                //    b: 40
                //}, {
                //    y: '2020',
                //    a: 75,
                //    b: 65
                //}, {
                //    y: '2021',
                //    a: 100,
                //    b: 90
                //}],
                data : dat1,
                xkey: 'y',
                ykeys: ['a','b'],
                labels: ['mua','xem'],
                barColors: ['#343957', '#5873FE'],
                hideHover: 'auto',
                gridLineColor: '#eef0f2',
                resize: true,
            });

            $('#info-circle-card').circleProgress({
                value: @Model.pos_feed/@Model.totalfeed,
                size: 100,
                fill: {
                    gradient: ["#a389d5"]
                }
            });

            $('.testimonial-widget-one .owl-carousel').owlCarousel({
                singleItem: true,
                loop: true,
                autoplay: false,
                //        rtl: true,
                autoplayTimeout: 2500,
                autoplayHoverPause: true,
                margin: 10,
                nav: false,
                dots: false,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 1
                    },
                    1000: {
                        items: 1
                    }
                }
            });

            $('#vmap13').vectorMap({
                map: 'usa_en',
                backgroundColor: 'transparent',
                borderColor: 'rgb(88, 115, 254)',
                borderOpacity: 0.25,
                borderWidth: 1,
                color: 'rgb(88, 115, 254)',
                enableZoom: true,
                hoverColor: 'rgba(88, 115, 254)',
                hoverOpacity: null,
                normalizeFunction: 'linear',
                scaleColors: ['#b6d6ff', '#005ace'],
                selectedColor: 'rgba(88, 115, 254, 0.9)',
                selectedRegions: null,
                showTooltip: true,
                // onRegionClick: function(element, code, region) {
                //     var message = 'You clicked "' +
                //         region +
                //         '" which has the code: ' +
                //         code.toUpperCase();

                //     alert(message);
                // }
            });

            var nk = document.getElementById("sold-product");
            // nk.height = 50
            var dat = [];
              @foreach (var item in Model.inven_count) {

                    <text>  dat.push(@item);  </text>

                }
            new Chart(nk, {
                type: 'pie',
                data: {
                    defaultFontFamily: 'Poppins',
                    datasets: [{
                        data: dat,
                        borderWidth: 0,
                        backgroundColor: [
                            "rgba(89, 59, 219, .9)",
                            "rgba(89, 59, 219, .7)",
                            "rgba(89, 59, 219, .5)",
                            "rgba(89, 59, 219, .07)"
                        ],
                        hoverBackgroundColor: [
                            "rgba(89, 59, 219, .9)",
                            "rgba(89, 59, 219, .7)",
                            "rgba(89, 59, 219, .5)",
                            "rgba(89, 59, 219, .07)"
                        ]
                    }],
                    labels: [
                        "TPHCM",
                        "Hà Nội",
                        "Đà Nẵng",
                       
                    ]
                },
                options: {
                    responsive: true,
                    legend: false,
                    maintainAspectRatio: false
                }
            });
        })(jQuery);

        (function ($) {
            "use strict";

            var data = [],
                totalPoints = 300;

            function getRandomData() {
                if (data.length > 0)
                    data = data.slice(1);

                // Do a random walk

                while (data.length < totalPoints) {
                    var prev = data.length > 0 ? data[data.length - 1] : 50,
                        y = prev + Math.random() * 10 - 5;

                    if (y < 0) {
                        y = 0;
                    } else if (y > 100) {
                        y = 100;
                    }

                    data.push(y);
                }

                // Zip the generated y values with the x values

                var res = [];
                for (var i = 0; i < data.length; ++i) {
                    res.push([i, data[i]])
                }

                return res;
            }

            // Set up the control widget

            var updateInterval = 30;
            $("#updateInterval").val(updateInterval).change(function () {
                var v = $(this).val();
                if (v && !isNaN(+v)) {
                    updateInterval = +v;
                    if (updateInterval < 1) {
                        updateInterval = 1;
                    } else if (updateInterval > 3000) {
                        updateInterval = 3000;
                    }
                    $(this).val("" + updateInterval);
                }
            });

            var plot = $.plot("#cpu-load", [getRandomData()], {
                series: {
                    shadowSize: 0 // Drawing is faster without shadows
                },
                yaxis: {
                    min: 0,
                    max: 100
                },
                xaxis: {
                    show: false
                },
                colors: ["#007BFF"],
                grid: {
                    color: "transparent",
                    hoverable: true,
                    borderWidth: 0,
                    backgroundColor: 'transparent'
                },
                tooltip: true,
                tooltipOpts: {
                    content: "Y: %y",
                    defaultTheme: false
                }
            });

            function update() {
                plot.setData([getRandomData()]);

                // Since the axes don't change, we don't need to call plot.setupGrid()

                plot.draw();
                setTimeout(update, updateInterval);
            }

            update();
        })(jQuery);

        const wt = new PerfectScrollbar('.widget-todo');
        const wtl = new PerfectScrollbar('.widget-timeline');
    </script>
    <!-- All init script -->
    <script src="~/js/plugins-init/jqvmap-init.js"></script>

</body>


