@model IEnumerable<WEB2.Models.Voucher>

@{
    ViewData["Title"] = "Index";
}

<head>
    <!-- Datatable -->
    <link href="~/vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>

    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>

        
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Hàng hóa</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Khuyến mãi</a></li>
                </ol>
            </div>
        </div>

        <!-- row -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                              <a asp-action="Create"> <h4 class = "border-danger">Thêm khuyến mãi</h4></a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example" class="display" style="min-width: 845px">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.VoucherName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.VoucherDetail)
                                        </th>
                                            <th>
                                            @Html.DisplayNameFor(model => model.Loaigiam)
                                        </th>
                                            <th>
                                            @Html.DisplayNameFor(model => model.Number)
                                        </th>
                                            <th>
                                            @Html.DisplayNameFor(model => model.Sotientoida)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model) {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VoucherName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.VoucherDetail)
                                            </td>
                                             <td>
                                                @Html.DisplayFor(modelItem => item.Loaigiam)
                                            </td>
                                             <td>
                                                @Html.DisplayFor(modelItem => item.Number)
                                            </td>
                                             <td>
                                                @Html.DisplayFor(modelItem => item.Sotientoida)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.VoucherID">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.VoucherID">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.VoucherID">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                               
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Required vendors -->
    <script src="~/vendor/global/global.min.js"></script>
    <script src="~/js/quixnav-init.js"></script>
    <script src="~/js/custom.min.js"></script>

    <!-- Datatable -->
    <script src="~/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/js/plugins-init/datatables.init.js"></script>
</body>